html,
body {
  height: 100%;
}

body {
  background-image: url("../static/img/fundo.jpg");
}

.logo-cliver{
  background-color: transparent;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
  }
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.box{
  cursor: pointer;
}

.box-navbar {
  border: 2px solid rgb(66, 146, 115);
  border-radius: 5px;
  padding: 5px;
}

.box-navbar-links{
  display: none;
  position: absolute;
  background-color: #1fb1d6d8;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  top: 50px;
}
.box-navbar-links a{
  color:white;
}

.box:hover .box-navbar-links {
  display: flex;
  flex-direction: column;
}

hr {
  margin: 3px;
}