<footer class="text-muted py-5 mt-5" style="background-color: #5249a825">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
            <p class="mb-1">@ CLEVER BIRDS GAME</p>
        <div class="d-flex">
            <p class="mb-0 me-5">
                Wanna see the whole project? <a href="/">Visit our github repository</a>
            <p>
            </p>Please check our &nbsp;<a href="/privacy">privacy policy document</a>
            </p>
        </div>
    </div>
</footer>
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="Tweety-Pie"
  agent-id="e382e10f-4b04-4999-bd1c-ba81f303ba12"
  language-code="en"
></df-messenger>
