<header>
    <div class="collapse bg-dark " id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Add some information about the album below, the author .</p>
                </div>

            </div>
        </div>
    </div>
    <div class="navbar" style="background-color: #2a3463da;">
        <div class=" container">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <img class="logo-cliver" src="./static/img/chubby-bird-logo.png" width="35px" />
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <div class="d-flex">
                    <li class="nav-item me-4">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item me-4">
                        <a class="nav-link active" aria-current="page" href="about.html">About </a>
                    </li>
                    <li class="nav-item me-4">
                        <a class="nav-link active" aria-current="page" href="user-dashboard.html">Dashboard </a>
                    </li>
                    <li class="nav-item me-4">
                        <a class="nav-link active" aria-current="page" href="tweety.html">Talk to Tweety </a>
                    </li>
                </div>
            </ul>
            <a href="./playgame.html" class="btn btn-outline-success mt-3 text-decoration-none"> PLAY NOW! </a>
        </div>
    </div>
</header>