<!doctype html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Play Game</title>
    <style>
        body, iframe {
            overflow: hidden;
        }
    </style>
</head>
<body>
{% include 'header.html' %}
<iframe id="game" src="http://localhost:8080?bird={{ bird }}" width="100%" height="100%" data-cy="game-frame"></iframe>
{% include 'footer.html' %}

<script>
    var gameElement = document.getElementById('game');
    document.addEventListener('keydown', () => {
        gameElement.contentWindow.postMessage({type: 'keydown'}, '*');
    });
    document.addEventListener('mousedown', () => {
        gameElement.contentWindow.postMessage({type: 'mousedown'}, '*');
    });
    window.addEventListener('message', (e) => {
        if (e.data.score) {
            fetch('save-score/' + e.data.score)
                .then((response) => {
                    if (!response.ok) {
                        console.error("Error during score saving")
                    } else {
                        console.log("Score saved for current user")
                    }
                });
        }
    });
</script>
</body>
</html>

