<!doctype html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Play Game</title>
    <link rel="stylesheet" href="static/game/style.css">
    <link href="https://fonts.googleapis.com/css?family=Squada+One&display=swap" rel="stylesheet">
</head>
<body>
{% include 'header.html' %}
<canvas id="canvas" width="276" height="414"></canvas>
<script>
    function initGame(bird) {
        bird.animations[0].sprite.src = "static/game/img/bird/{{ bird_png }}-1.png";
        bird.animations[1].sprite.src = "static/game/img/bird/{{ bird_png }}-2.png";
    }
</script>
<script src="static/game/game.js"></script>

{% include 'footer.html' %}
</body>
</html>

 