<!doctype html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Play Game</title>
    <style>
        body, iframe {
            overflow: hidden;
        }
    </style>
</head>
<body>
{% include 'header.html' %}
<iframe id="game" src="http://localhost:8080?bird={{ bird }}" width="100%" height="100%"></iframe>
{% include 'footer.html' %}

<script>
    var gameElement = document.getElementById('game');
    document.addEventListener('keydown', () => {
        gameElement.contentWindow.postMessage({type: 'keydown'}, '*');
    });
    document.addEventListener('mousedown', () => {
        gameElement.contentWindow.postMessage({type: 'mousedown'}, '*');
    })
</script>
</body>
</html>

